#login-form{
    text-align: right;
    margin-top: 16px;
    position: relative;
}

#login-form label{
    text-align: left;
    padding-left: 0;
    margin-bottom: 0;
}

#login-form .btn.btn-primary{
    margin-top: 18px;
    padding-top: 3px;
    padding-bottom: 3px;
}

#login-form .failedAdmSignIn{
    position: absolute;
    white-space: pre-line;
    text-align: left;
    bottom: -48px;
    right: 12px;;
    width: 166px;
    text-align: right;
    color: #d9534f;
}

@media (min-width: 1200px) {
    #login-form label:first-of-type{
        margin-left: 670px;
    }
}

@media (min-width: 991px) and (max-width: 1199px) {
    #login-form label:first-of-type{
        margin-left: 536px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    #login-form label:first-of-type{
        margin-left: 270px;
    }
}

@media (max-width: 768px){
    #login-form label{
        padding-right: 0;
        margin-bottom: 5px;
    }

    #login-form .btn.btn-primary{
        margin-top: 10px;
        padding-top: 6px;
        padding-bottom: 6px;
    }

    #login-form .failedAdmSignIn{
        bottom: 0px;
        right: 118px;;
    }
}
