#todo-preview{
    padding: 0;
}

#todo-preview .title{
    font-weight: bold;
    font-size: 22px;
    margin-bottom: 3px;
    margin-left: 12px;
}

#todo-preview .todo{
    /*margin-top: 20px;*/
    border: 1px solid;
}

#todo-preview .todo .image{
    width: 320px;
    height: 240px;
    background-size: cover;
}

#todo-preview .todo div{
    padding-left: 0;
}

#todo-preview .todo div:last-of-type{
    padding-right: 0;
}

#todo-preview .todo:first-of-type{
    border-top: 1px solid black;
}

#todo-preview .todo{
    border-bottom: 1px solid black;
    overflow: hidden;
    padding-top: 10px;
    padding-bottom: 10px;
}

#todo-preview .user-info{
    display: inline-block;
    width: 320px;
    float: left;
    font-weight: bold;
}

#todo-preview .todo .text{
    padding-left: 30px;
}

@media (max-width: 768px){
    #todo-preview .todo .user-info{
        border: 1px solid transparent;
    }

    #todo-preview .user-info{
        display: block;
        margin: 0 auto;
        float: none;
        text-align: center;
    }

    #todo-preview .todo .text{
        margin-top: 14px;
        padding-left: 30px;
    }
}
