#add-todo{
    margin-top: 22px;
    margin-bottom: 30px;
}

#add-todo .title{
    font-weight: bold;
    font-size: 22px;
    margin-bottom: 2px;
}

#add-todo .submitButtonContainer{
    text-align: right;
    padding-right: 8px;
}

@media (max-width: 768px){
    #add-todo .submitButtonContainer{
        padding-right: 0;
    }

    #add-todo .btn.btn-primary{
        /*margin-top: 10px;*/
        padding-top: 6px;
        padding-bottom: 6px;
        padding-right: 13px;
        font-size: 18px;
        line-height: 1.3333333;
        border-radius: 6px;
    }
}
